# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# .idea 폴더 및 관련 설정 파일 무시
.idea/
# 아래 항목들도 무시하려면 추가
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
